* {
    font-family: arial;
    margin: 0;
    padding: 0;
}
div#wrapper {
    width:1500px;
    margin-left: 30px;
}
.page-topper {
    height: 50px;
    display: block;
}
.page-break {
    page-break-after: always;
    page-break-inside: avoid;
}

.attendee {
    width: 545px;
    height:380px;
    float: left;
    position: relative;
    display: block;
    margin-right: 20px;
}

.attendee .info_holder {
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
}
.attendee .info_holder .name {
    text-transform: uppercase;
    margin-bottom: 26px;
    font-size: 50px;
    font-family: 'Cubano-Regular';
}
.attendee .info_holder .name span {
    display: inline-block;
    font-family: 'Cubano-Regular';
    font-size: 58px;
}
.attendee .info_holder .company {
    width: 100%;
    margin-bottom: 12px;
    color: #696069;
}
.attendee .info_holder .company span {
    display: inline-block;
    font-family: 'Cubano-Regular';
    font-size: 50px;
}

.attendee img.avatar {
    position: absolute;
    left: 40px;
    bottom: 20px;
    height: 120px;
    width: 120px;
    background: #fff;
}

.attendee .bottom-right {
    position: absolute;
    bottom: 20px;
    right: 40px;
    height: 138px;
    width: 320px;
    text-align: center;
}

.attendee .bottom-right .twitter_name {
    font-size: 18px;
    font-weight: normal;
    color: #696069;
    padding-top: 10px;
}

.attendee .bottom-right .logo {
    position: absolute;
    height: 78px;
    width:160px;
    bottom: 10px;
    right: 80px;
}

.attendee .powered {
    width: 545px;
    position: absolute;
    bottom: 0px;
    text-align: center;
}
.attendee .powered p {
    font-family: arial, sans-serif;
    font-size: 10px;
    color: #333333;
}
