 * {
        font-family: arial;
        margin: 0;
        padding: 0;
    }
    div#wrapper {
        width:660px;
    }
    div.attendee {

        width: 325px;
        height: 204px;
        float: left;
        border: 1px solid #fff;
        position: relative;
        display: block;
    }
    div.info_holder {
        position: absolute;
        right: 0px;
        top: 80px;
        width: 205px;
        text-align: center;
        
    }
    
    div.attendee h2 {
        color: #72CCCC;
        font-family: "gotham_book",helvetica,arial,sans-serif;
        text-shadow: 1px 1px 2px #FFFFFF;
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 6px;
    }
    div.attendee p.twitter_name {
    }
    div.attendee p.company {
        font-size: 12px;
        margin-bottom: 12px;
    }
    
    
    div.attendee img.twitter_img {
        position: absolute;
        left: 20px;
        top: 78px;
        height: 73px;
        width: 73px;
        padding: 4px;
        background: #fff;
        border: 1px solid #72CCCC;
    }